<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>SuperFotos.co</title>

	<link rel="stylesheet" type="text/css" href="styles.css">

	<style>

		textarea:focus, input:focus{
			outline: 0;
		}

		input:focus:invalid,
		textarea:focus:invalid{
			border:1px solid #F5192F;
			box-shadow:0 0 4px #F5192F;
		}

		input:focus:valid,
		textarea:focus:valid{
			border: 1px solid #64C364;
			box-shadow: 0 0 4px #64C364;
		}

		fieldset { border: #6caee0 2px solid; }

		legend {
		  padding: 0.2em 0.5em;
		  font-weight: bold;
		}

	</style>

</head>



<nav>

		<a href="/home">SuperFotos.co</a>•
		<a class="active" href="/publish">Publish Post</a>•
		<a href="/myposts">My posts</a>•
		<a href="logout">Log Out</a>

<body>

	<form id="uploadForm" enctype="multipart/form-data" action="/post" method="post">

		<div class="form-title-row">
			<h1>New post</h1>
		</div>

		<div class="form-row">
			<label>
				<span>Name</span>
				<input type="text" name="postname" required maxlength="24">
			</label>
		</div>

		<div class="form-row">
			<label>
				<span>Description</span>
				<textarea name="description" required maxlength="50"></textarea>
			</label>
		</div>

		<br>

		<fieldset>
		<legend>Image</legend>

		<div class="form-row">
			<label>
				<span>Name</span>
				<input type="text" name="imagename" required maxlength="24">
			</label>
		</div>

		<div class="form-row">
			<label>
				<span>File</span>
				<input type="file" name="userPhoto" accept=".jpg,.jpeg,.png" required>
			</label>
		</div>

		<br>

		</fieldset>

		<div class="form-row">
			<button type="submit" name="submit">Post</button>
		</div>

	</form>

</body>

</html>
