<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>SuperFotos.co</title>

	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<style>

		textarea:focus, input:focus{
			outline: 0;
		}

		input:focus:invalid,
		textarea:focus:invalid{
			border:1px solid #F5192F;
			box-shadow:0 0 4px #F5192F;
		}

		input:focus:valid,
		textarea:focus:valid{
			border: 1px solid #64C364;
			box-shadow: 0 0 4px #64C364;
		}

	</style>

</head>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">SuperFotos</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        	<li ><a href="#">Mi cuenta</a></li>
        	<li><a href="/myposts">Mis fotos</a></li>
			<li><a href="#">Mis tags</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="logout">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<body>

	<form id="uploadForm" enctype="multipart/form-data" action="/post" method="post">

		<div class="form-title-row">
			<h1>New post</h1>
		</div>

		<div class="form-row">
			<label>
				<span>Name</span>
				<input type="text" name="postname" required maxlength="24">
			</label>
		</div>
		
		<div class="form-row">
			<label>
				<span>Description</span>
				<textarea name="description" required maxlength="50"></textarea>
			</label>
		</div>
		
		<div class="form-row">
			<label>
				<span>Tags</span>
				<input type="text" name="taglist" required maxlength="50">
			</label>
		</div>
		
		<br>
		
		<fieldset>
		<legend>Image</legend>
		
		<div class="form-row">
			<label>
				<span>Name</span>
				<input type="text" name="imagename" required maxlength="24">
			</label>
		</div>

		<div class="form-row">
			<label>
				<span>File</span>
				<input type="file" name="userPhoto" accept=".jpg,.jpeg,.png" required>
			</label>
		</div>

		<div class="form-row">
			<button type="submit" name="submit">Upload image</button>
		</div>
		
		</fieldset>

	</form>

</body>

</html>
