<!DOCTYOPE html>
<html>
  <head>
    <title> Superfotos </title>
  </head>

  <body>

    <p> HOLA!!! </p>
    <table>
    <% for(var i=0;i<misposts.length;i++)
    { %>
        <tr>
        <td><%=misposts[i]["title"]%></td>
      </tr>
    <% }    %>
  </table>
      <div>
        <label>  </label>
      </div>
    <%  %>
  </body>
</html>
