<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Login</title>

	<link rel="stylesheet" type="text/css" href="styles.css">

	<style>

		textarea:focus, input:focus{
			outline: 0;
		}

		input:focus:invalid,
		textarea:focus:invalid{
			border:1px solid #F5192F;
			box-shadow:0 0 4px #F5192F;
		}

		input:focus:valid,
		textarea:focus:valid{
			border: 1px solid #64C364;
			box-shadow: 0 0 4px #64C364;
		}

		</style>

</head>

<body>

<form method="post" action="/login">

		<div class="form-title-row">
			<h1>Login</h1>
		</div>

		<div class="form-row">
			<label>
				<span>Username</span>
				<input type="text" id="username" name="username" required>
			</label>
		</div>

		<div class="form-row">
			<label>
				<span>Password</span>
				<input type="password" id="password" name="password" required>
			</label>
		</div>

		<div class="form-button">
			<button type="submit">Log in</button>
		</div>

		<div class="form-advice">
			<label>
				<span>Not a member yet? <a href="/signup">Join Us</a></span>
			</label>
		</div>

	</form>

</body>

</html>
